<h1> Blog </h1>
<p>
	    My free writing changes substantially if I do it at different times of the day. In the mornings, usually a reflection on the previous day’s efforts, some set of goals and aspirations, and maybe a body of interesting ideas that have already come up. In the evening, though, a reflection of the day as it happens, a number of ideas that have come up over the course of the day, thoughts on conversations that have happened, and on my energy or willingness to be productive.

    There’s the sad fact that all of the tools I have in my life that would make me more productive in moments of weakness rely on my productivity to be used. I saw the effect yesterday over the course of a day that usually happens over whole days: I stopped tracking during the parts where I lazed and napped as I watched starcraft and played yugioh. When Carolyn messaged me asking to talk I was barely capable of breaking out of my mental torpor. I almost watched another game of Starcraft before writing her back. The magnitude of my laziness when it happens is severe, and recently I’ve been relying on positive feedback from productivity to keep my spirits high and to keep doing things. Maybe if we finish the app I can   have my phone send me a reminder when I haven’t tracked for a longer period of time.    

Regardless, I could sit here today having read Hume, having reflected on the great thoughts of the summer, and with throws that are sharp rather than two days unpracticed. The build up is that today I won’t have read some ideas, and at the end of the summer I’m one book behind, one day of ideas behind. More than that I risk losing the momentum that I’ve built up by throwing everyday and playing Ultimate every day and reading a book for 3 days in a row! What a beautiful habit! And didn’t it feel amazing?

  
</p>