<h1> Blog </h1>
<p>
	    My free writing changes substantially if I do it at different times of the day. In the mornings, usually a reflection on the previous day’s efforts, some set of goals and aspirations, and maybe a body of interesting ideas that have already come up. In the evening, though, a reflection of the day as it happens, a number of ideas that have come up over the course of the day, thoughts on conversations that have happened, and on my energy or willingness to be productive.

    There’s the sad fact that all of the tools I have in my life that would make me more productive in moments of weakness rely on my productivity to be used. I saw the effect yesterday over the course of a day that usually happens over whole days: I stopped tracking during the parts where I lazed and napped as I watched starcraft and played yugioh. When Carolyn messaged me asking to talk I was barely capable of breaking out of my mental torpor. I almost watched another game of Starcraft before writing her back. The magnitude of my laziness when it happens is severe, and recently I’ve been relying on positive feedback from productivity to keep my spirits high and to keep doing things. Maybe if we finish the app I can   have my phone send me a reminder when I haven’t tracked for a longer period of time.    

Regardless, I could sit here today having read Hume, having reflected on the great thoughts of the summer, and with throws that are sharp rather than two days unpracticed. The build up is that today I won’t have read some ideas, and at the end of the summer I’m one book behind, one day of ideas behind. More than that I risk losing the momentum that I’ve built up by throwing everyday and playing Ultimate every day and reading a book for 3 days in a row! What a beautiful habit! And didn’t it feel amazing?

    How finances change my decision making. So many little things, like going to the Nexgen game yesterday, didn’t happen. Meeting the Nexgen players and talking to Misha, Piers, George, and all my friends on Ironside didn’t happen. Talking to Peter and hanging out with Bredline and the girls from Quasar didn’t happen. What are my goals? Are they just to get good at Ultimate? Or to be part of a community of people and players? The love I had for nexgen and watching Ultimate last summer was compulsive. Peter was shocked that I wasn’t there. I should figure out why.

    I don’t feel as guilty as I normally would about missing the game, because it’s just consumption of the sport rather than participation in the sport. Consuming Ultiworld and Skyd and RSD don’t add significantly to my ability to play Ultimate. So I feel like I should work out or throw every time I’m tempted to watch.

    Then again, getting onto teams as as political as it is skill based. And watching that level of play is exciting and inspirational and can start positive feedback loops. You have to really want to play at that level. And while the inspiration isn’t the way, it can lead to work that will be the way.

    Going would’ve been work and would’ve cost money. Money and time. I should find a way to make money like that (order of $10) irrelevant to my decision making. This was an opportunity I’ll almost definitely never have again.

    I also didn’t go because of an emotional reprioritization on Timestamp. Obviously not really, because of all the time I wasted yesterday (imaging working on timestamp then and going in the evening).

    I need to think about my relationship with Brenna. And seriously about my failure to write Carolyn, that is almost definitely indicative of something bad. 
</p>